#row1{
    /* border: 1px solid red; */
    height:140px;
    width: 100%;
    display: flex;
    margin-bottom: 140px;
}
#row1>div{
    /* border: 1px solid red; */
    /* height: ; */
}
#a{width: 3%;}
#a>hr{
    width: 50%;
    cursor: pointer;
}
#b{width: 59%;}
#b>img{
    height: 100%;
    cursor: pointer;
    /* border: 1px solid black; */
}

#c{width: 15%;}
#c>p{
    font-size: 20px;
    margin-top: 2%;
    text-decoration: underline;
    cursor: pointer;
}


#d{width: 4%;}
#d>p{
    font-size: 20px;
    margin-top: 12%;
    cursor: pointer;
}
#e{width: 4%;}
#e>img{
    width: 100%;
    cursor: pointer;
}
#f{width: 15%;
    font-size: 20px;
   padding-top: 6px;
   cursor: pointer;
   height: 50px;
   /* border: 1px solid red; */
}

/* #g{width: 9%;}
#g>p{
    font-size: 20px;
    margin-top: 12%;
    cursor: pointer;
} */