#row1{
    /* border: 1px solid red; */
    height:140px;
    width: 100%;
    display: flex;
    margin-bottom: 140px;
    /* border: 1PX solid RED; */
}
#row1>div{
    /* border: 1px solid red; */
    height: 100%;
}
#a{width: 3%;}
#a>hr{
    width: 50%;
    cursor: pointer;
}
#b{width: 65%;}
#b>img{
    height: 100%;
    cursor: pointer;
    /* border: 1px solid black; */
}

#c{width: 20%;}
#c>p{
    font-size: 20px;
    margin-top: 2%;
    text-decoration: underline;
    cursor: pointer;
}


#d{width: 4%;}
#d>p{
    font-size: 20px;
    margin-top: 12%;
    cursor: pointer;
    color: gray;
}
#e{width: 4%;}
#e>img{
    width: 100%;
    cursor: pointer;
}
#login{
    /* border: 1px solid red; */
    width: 6%;
    height: 100%;
    margin-top: 0.5%;
}
#login>a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}
#row2{
    font-family: sans-serif;
    padding-left: 4%;
    margin-bottom: 40px;
    /* border: 1px solid red; */
}
#row3{
    padding-left: 4%;
    font-size: 20px;
    font-weight: bold;
    /* border: 1px solid red; */
    
}
#person>input{
    height: 15px;
    width: 15px;
}
#row4{
    /* border: 1px solid red; */
    padding-top: 20px;
    width: 80%;
    margin-left: 4%;
    margin-bottom: 100px;
}
#row4>input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    width: 35%;
    color: blue;
    margin-left: 0%;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-top: 20px;
}
#check>div{
margin-bottom: 25px;
}
#button{
    width: 35%;
    height: 50px;
    background-color: black;
    margin-top: 70px;
}
#button>a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

#row5{
    border: 1px solid red
}