

#row2{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
}
#login{
    /* border: 1px solid blue; */
    width: 40%;
    padding-left:90px ;
}
#loginh3{
    font-size: 24px;
    font-family: sans-serif;
}
#login>input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    width: 40%;
    color: blue;
    margin-bottom: 50px;
}
#loginp2{
font-size :12px;
font-family: sans-serif;
color: gray;
cursor: pointer;
margin-bottom: 50px;
}
#loginbutton{
    width: 40%;
    height: 10%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
#loginbutton:hover{
    background-color: rgb(66, 63, 63);
}




#register{
    /* border: 1px solid blue; */
    width:60%;
}
#registerh3{
    font-size: 24px;
    font-family: sans-serif;
}

#registerp1{
    color: gray;
    font-size: 16px;
    width: 47%;
    line-height: 1.6;

}
#registerp2{
    color: gray;
    font-size: 16px;
    width: 50%;
    line-height: 1.6;

}
#registerbutton{
    width: 30%;
    height: 10%;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 50px;
}
#registerbutton>a{
    /* width: 30%;
    height: 10%;
    background-color: black; */
    color: white;
    /* font-size: 20px; */
    /* font-family: sans-serif;
    cursor: pointer;
    margin-top: 70px; */
    text-decoration: none;
}
#registerbutton:hover{
    background-color: rgb(66, 63, 63);
}